/**
* template: Catefood

TABLE OF CONTENTS

        + Global
        + Header
        + Header Content
        + About Us
        + Services
        + Menu
        + Portfolio
        + Booking  
        + Contacts    
*/

@import 'reset.css';
@import 'all.min.css';
@import 'magnific-popup.css';
@import 'owl.carousel.min.css';
@import 'owl.theme.default.min.css';

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Suranna&display=swap');

/**************************************
*
*         GLOBAL 
*
***************************************/

:root {
	--color-white: #FFFFFF;
	--color-dark: #1A1A1A;
	--color-light-dark: #FFFFFF;
	--color-red: #b74a01;
	--color-gray: #333333;
}

::-moz-selection {
	background-color: var(--color-red);
	color: var(--color-white);
}

::selection {
	background-color: var(--color-red);
	color: var(--color-white);
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

img {
	height: auto;
	display: block;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	color: var(--color-gray);
	background-color: #000000;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Suranna', serif;
	font-weight: 400;
	line-height: 1.1;
	text-transform: uppercase;
	margin-bottom: 30px;
	color: var(--color-dark);
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
}

.wrapper {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

.container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.ptb {
	padding-top: 100px;
	padding-bottom: 100px;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.suptitle {
	font-family: 'Dancing Script', cursive;
	font-weight: 400;
	font-size: 24px;
	display: inline-block;
	margin-bottom: 10px;
	color: var(--color-red);
	text-transform: capitalize;
}

.align-center {
	text-align: center;
}

.btn {
	display: inline-block;
	background-color: var(--color-red);
	color: var(--color-white);
	padding: 15px 35px;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid var(--color-red);
	font-weight: 700;
}

.btn:hover {
	background-color: var(--color-dark);
	border-color: var(--color-white);
}

.owl-theme .owl-dots .owl-dot span {
	width: 15px;
	height: 2px;
	margin: 5px 7px;
	background: var(--color-gray);
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	border-radius: 30px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 50px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: var(--color-red);
}

#scroll-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 100;
	padding: 15px 20px;
}

@-webkit-keyframes load {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes load {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#preload {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-color: #FF7F00;
	z-index: 100000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#preload img {
	width: 44px;
	height: auto;
	-webkit-animation-name: load;
	animation-name: load;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.dropdown-menu {
	display: none;
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	background: rgba(255, 102, 0, 0.9);
	border: 1px solid var(--color-red);
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu li a {
	padding: 10px;
	white-space: nowrap;
}

.res-booking {
	display: none;
	font-size: 14px;
	margin-top: 20px;
	text-align: center;
}


#openmenu,
#closemenu {
	font-size: 30px;
	color: var(--color-dark);
	display: none;
}

#openmenu:hover,
#closemenu:hover {
	color: var(--color-red);
}

/**************************************
*
*         HEADER 
*
***************************************/

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.center {
	display: flex;
	justify-content: center;
}

.bg-header {
	background-color: var(--color-dark);
}

.wrapper-header {
	padding-top: 25px;
	padding-bottom: 25px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#navigation {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.menu li {
	float: left;
	margin-left: 30px;
}

.menu li a {
	text-transform: capitalize;
	color: var(--color-white);
	font-size: 25px;
	font-family: 'Suranna', serif;
	font-weight: 400;
}

.social-link {
	margin-left: 100px;
}

.social-link li {
	margin-left: 15px;
}

.social-link li a {
	color: var(--color-white);
}

.menu li a:hover,
.social-link li a:hover {
	color: var(--color-red);
}

/**************************************
*
*         HEADER CONTENT 
* 
***************************************/

.wrapper-header-content {
	background-image: url(./bg-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 800px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.wrapper-header-content h1 {
	color: var(--color-white);
}

/**************************************
*
*         ABOUT US 
* 
***************************************/

#aboutus {
	background-color: #FFFFFF;
}

.wrapper-aboutus {
	max-width: 1200px;
}

.aboutus-img {
	width: 40%;
}

.aboutus-img img {
	width: 100%;
}

.aboutus-content {
	width: 60%;
	padding: 30px;
	background-color: var(--color-light-dark);
}

.aboutus-content p {
	margin-bottom: 20px;
	color: var(--color-gray);
}

/**************************************
*
*         SERVICES
* 
***************************************/
#services {
  background-image: url("./thai_food1.jpg");
  background-repeat: no-repeat;   /* verhindert Kachelung */
  background-size: cover;         /* f체llt den Bereich, Bild kann beschnitten werden */
  background-position: center;    /* mittig platzieren */
  background-attachment: fixed;   /* Hintergrund bleibt beim Scrollen stehen */
}



.wrapper-services > div {
	width: calc(25% - 20px);
	margin: 10px;
	padding: 30px 10px;
	background-color: var(--color-light-dark);
	transition: ease-in-out 0.3s;
}

.wrapper-services > div:hover {
	background-color: #F5F5F5;
}

.wrapper-services > div h3 {
	font-size: 20px;
	margin-bottom: 15px;
	color: var(--color-dark);
}

.wrapper-services > div img {
	max-width: 64px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.wrapper-services > div p {
	color: var(--color-gray);
}

/**************************************
*
*         MENU
* 
***************************************/

#menu {
	background-color: #FFFFFF;
}

.menu-list {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.menu-list ul {
	overflow: hidden;
}

.menu-list ul li {
	float: left;
	margin: 15px;
}

.menu-list ul li a {
	color: var(--color-dark);
	text-transform: uppercase;
	border: 1px solid var(--color-dark);
	padding: 8px 16px;
}

.menu-list ul li a:hover,
.menu-list ul li .active {
	color: var(--color-white);
	background-color: var(--color-red);
	border: 1px solid var(--color-red);
}

.menu-item {
	margin-top: 50px;
}

.item-product {
	width: calc(50% - 20px);
	margin: 10px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px;
}

.item-product-img {
	width: 20%;
}

.item-product-img > a {
	position: relative;
	max-width: 110px;
	width: 100%;
	max-height: 110px;
	height: auto;
	border-radius: 100%;
	display: block;
	overflow: hidden;
	color: var(--color-white);
}

.item-product-img > a img {
	max-width: 100%;
}

.item-product-text {
	width: 80%;
	padding-left: 15px;
}

.icon-search {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 102, 0, 0.8);
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.item-product-img > a:hover .icon-search {
	opacity: 1;
}

.menu-title {
	border-bottom: 1px solid rgba(51, 51, 51, 0.3);
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 10px;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.menu-title h3 {
	font-size: 20px;
	margin-bottom: 10px;
	color: var(--color-dark);
}

.menu-title span {
	color: var(--color-red);
	font-size: 20px;
	display: inline-block;
	line-height: 1.1;
	padding-left: 20px;
	margin-bottom: 10px;
}

.item-product-text p {
	margin-bottom: 5px;
	color: var(--color-gray);
}

.menu-ingredients {
	font-family: 'Dancing Script', cursive;
	font-weight: 400;
	color: var(--color-red);
	font-size: 18px;
}

.karte-btn {
	text-decoration: none;
	background-color: var(--color-red);
	border: none;
	color: white;
	margin: 5px;
	margin-top: 40px;
	margin-bottom: -20px;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	font-size: large;
	transition: ease-in-out 0.2s;
}

.karte-btn:hover {
	background-color: #fc6900;
}

/**************************************
*
*         PORTFOLIO
* 
***************************************/
#portfolio {
  background-image: url("./thai_food2.jpg");
  background-repeat: no-repeat;   /* verhindert Kachelung */
  background-size: cover;         /* f체llt den Bereich, Bild kann beschnitten werden */
  background-position: center;    /* mittig platzieren */
  background-attachment: fixed;   /* Hintergrund bleibt beim Scrollen stehen */
}

.portfolio-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	gap: 40px;
	margin-top: 80px;
}

.portfolio-card {
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
	transition: all 0.4s ease;
	cursor: pointer;
}

.portfolio-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 30px 60px rgba(255, 102, 0, 0.2);
}

.portfolio-card-inner {
	display: flex;
	height: 100%;
	min-height: 300px;
}

.portfolio-image {
	flex: 0 0 45%;
	position: relative;
	overflow: hidden;
}

.portfolio-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.4s ease;
}

.portfolio-card:hover .portfolio-image img {
	transform: scale(1.1);
}

.portfolio-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(45deg, rgba(255, 102, 0, 0.9), rgba(204, 85, 0, 0.8));
	opacity: 0;
	transition: opacity 0.4s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.portfolio-card:hover .portfolio-overlay {
	opacity: 1;
}

.portfolio-icon {
	font-size: 48px;
	color: var(--color-white);
	transition: transform 0.3s ease;
}

.portfolio-card:hover .portfolio-icon {
	transform: scale(1.2);
}

.portfolio-content {
	flex: 1;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.portfolio-content h3 {
	font-family: 'Suranna', serif;
	font-size: 28px;
	color: var(--color-dark);
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
}

.portfolio-content h3::after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 0;
	width: 40px;
	height: 3px;
	background: var(--color-red);
	transition: width 0.3s ease;
}

.portfolio-card:hover .portfolio-content h3::after {
	width: 80px;
}

.portfolio-content p {
	margin-bottom: 15px;
	color: var(--color-gray);
	font-size: 16px;
	line-height: 1.7;
}

.portfolio-content .highlight {
	color: var(--color-red);
	font-weight: 700;
}

.portfolio-badge {
	position: absolute;
	top: 20px;
	right: 20px;
	background: var(--color-red);
	color: var(--color-white);
	padding: 8px 16px;
	border-radius: 20px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 10;
}

/* Responsive Design */
@media (max-width: 768px) {
	.portfolio-grid {
		grid-template-columns: 1fr;
		gap: 30px;
	}

	.portfolio-card-inner {
		flex-direction: column;
		min-height: auto;
	}

	.portfolio-image {
		flex: 0 0 200px;
	}

	.portfolio-content {
		padding: 30px 20px;
	}

	h2 {
		font-size: 36px;
	}

	.suptitle {
		font-size: 24px;
	}
}

/* Animations */
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.portfolio-card {
	animation: fadeInUp 0.6s ease forwards;
}

.portfolio-card:nth-child(1) {
	animation-delay: 0.1s;
}
.portfolio-card:nth-child(2) {
	animation-delay: 0.2s;
}
.portfolio-card:nth-child(3) {
	animation-delay: 0.3s;
}
.portfolio-card:nth-child(4) {
	animation-delay: 0.4s;
}

/**************************************
*
*         BOOKING
* 
***************************************/

#booking {
  background: linear-gradient(135deg, #b74a01, #e67e22); /* dunkles Orange zu w채rmerem Ton */
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}




.wrapper-booking {
	max-width: 1000px;
	width: 100%;
}

.booking-title {
	text-align: center;
	color: var(--color-white);
	font-size: 2.5rem;
	font-weight: 300;
	margin-bottom: 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#booking-form {
	width: 100%;
}

.wrapper-input {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.wrapper-booking input {
	background-color: transparent;
	outline: none;
	border: none;
	display: block;
	padding: 15px 0px;
	margin: 0 20px 20px 0;
	width: calc(50% - 40px);
	color: var(--color-white);
	border-bottom: 1px solid var(--color-white);
	transition: all 0.5s ease;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.wrapper-booking input::placeholder {
	color: var(--color-white);
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	opacity: 0.8;
}

.wrapper-booking input:focus {
	border-color: var(--color-white);
	border-bottom-width: 2px;
	transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.wrapper-booking input:hover {
	border-color: rgba(255, 255, 255, 0.9);
}

/* Full-width inputs */
.wrapper-booking input.full-width {
	width: calc(100% - 20px);
}

/* Spezielle Styles f체r Date und Time Inputs */
.wrapper-booking input[type="date"], 
.wrapper-booking input[type="time"] {
	color: var(--color-white);
}

.wrapper-booking input[type="date"]::-webkit-calendar-picker-indicator,
.wrapper-booking input[type="time"]::-webkit-calendar-picker-indicator {
	filter: invert(1);
	cursor: pointer;
	opacity: 0.8;
}

button[type='submit'] {
	background-color: transparent;
	color: var(--color-white);
	padding: 15px 40px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 50px;
	outline: none;
	border: 1px solid var(--color-white);
	transition: all 0.5s ease;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	overflow: hidden;
}

button[type='submit']::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
	transition: left 0.5s;
}

button[type='submit']:hover {
	border-color: var(--color-white);
	background-color: rgba(255, 255, 255, 0.1);
	transform: translateY(-2px);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

button[type='submit']:hover::before {
	left: 100%;
}

button[type='submit']:active {
	transform: translateY(0);
}

/* Responsive Design */
@media (max-width: 768px) {
	.wrapper-booking input {
		width: calc(100% - 20px);
		margin: 0 0 20px 0;
	}
	
	.booking-title {
		font-size: 2rem;
		margin-bottom: 30px;
	}

	button[type='submit'] {
		width: 100%;
		margin-top: 30px;
	}

	#booking {
		padding: 20px;
	}
}

@media (max-width: 480px) {
	.booking-title {
		font-size: 1.8rem;
	}
}

/* Animationen */
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.wrapper-booking {
	animation: fadeInUp 0.8s ease-out;
}

/**************************************
*
*         CONTACTS
*
***************************************/

#contacts {
	background-color: #FFFFFF;
}

.wrapper-contact {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.wrapper-contact > div {
	width: 25%;
	padding: 20px;
}

.wrapper-contact > div .social-link {
	margin-left: 0px;
}

.wrapper-contact > div .social-link li {
	margin-left: 0px;
	margin-right: 15px;
}

.wrapper-contact > div p {
	margin-bottom: 10px;
	color: var(--color-gray);
}

.wrapper-contact > div h3 {
	font-size: 20px;
	color: var(--color-dark);
}

.wrapper-contact > div a {
	color: var(--color-gray);
}

.wrapper-contact > div a:hover {
	color: var(--color-red);
}

.wrapper-map iframe {
	width: 100%;
	height: 400px;
	display: block;
}

.copyright {
	background-color: var(--color-dark);
	padding: 30px 15px;
	text-align: center;
	font-size: 14px;
	color: rgb(188, 188, 188);
}

